#mainNav {
    color: #495057 !important;
    background-color: white !important;
    border-bottom: 4px solid #0085a1;
}

.nav-link,
.toggle-button {
    color: #495057 !important;
}

.main-content {
    min-height: 70vh;
}

.bg-primary {
    background-color: #495057 !important;
}

#mainNav .navbar-brand img {
    max-height: 80px;
}

form {
    margin-bottom: unset;
}

.img-thumbnail {
    max-width: 60px;
    max-height: 80px;
}

.error-message {
    color: red;
}

.tab-pane {
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}


/* TIMELINE */

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}

ul.timeline>li {
    margin: 20px 0;
    padding-left: 20px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.modal-xlg {
    max-width: 80vw;
}

.modal-xxlg {
    max-width: 95vw;
}