<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <title>APVMS | STORE</title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-key"></i> Change Password
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6 offset-md-3">
                                        <form id="form-change-password" action="POST" href="#" class="form-horizontal form-label-left">
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-5 col-sm-5 label-align" for="first-name">Old Password <span
                                              class="text-danger">*</span>
                                          </label>
                                                <div class="col-md-12 ">
                                                    <input type="password" id="oldPassword" name="oldPassword" class="form-control " placeholder="Enter Old Password">
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">New Password <span
                                              class="text-danger">*</span>
                                          </label>
                                                <div class="col-md-12">
                                                    <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter New Password">
                                                </div>
                                            </div>
                                            <div class="item form-group">
                                                <label class="col-form-label col-md-5 col-sm-5 label-align" for="last-name">Re-type New Password <span class="text-danger">*</span> </label>
                                                <div class="col-md-12 ">
                                                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Re-type New Password">
                                                </div>
                                            </div><br>
                                            <div class="item form-group text-center">
                                                <div id="passwordStrength"></div>
                                            </div><br>
                                            <div class="item form-group">
                                                <div class="col-md-6 col-sm-6 offset-md-3">
                                                    <button class="btn btn-primary" type="submit">Change Password</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>

    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script>
        $(function() {
            $(document).on("submit", "#form-change-password", function(e) {
                e.preventDefault();
                $('.error-message').remove();
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to change the password ?',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.ajax({
                                type: "PUT",
                                url: contextPath + role.toLowerCase() + "/put-change-password",
                                timeout: 600000,
                                beforeSend: function() {
                                    $('#form-change-password').block({
                                        message: '<h3>Processing...</h3>',
                                        css: {
                                            border: '3px solid darkgrey'
                                        }
                                    });
                                },
                                data: $("#form-change-password").serialize(),
                                success: function(response) {
                                    $('#form-change-password').trigger('reset');
                                    $.alert({
                                        title: 'Success!',
                                        content: "Password changed successfully. Please login with your new password.",
                                        type: 'green',
                                        typeAnimated: true,
                                        buttons: {
                                            ok: function() {
                                                window.location.href = contextPath + "logout";
                                            }
                                        }
                                    });
                                },
                                error: function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e.responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key, value) {
                                            $("#form-change-password").contents().find('[name=' + key + ']').after(
                                                '<span class="error-message">' + value + '</span>');
                                            $('#' + key).html(
                                                '<span class="error-message">' + value + '</span>');
                                        });
                                    } else {
                                        $.alert({
                                            title: e.responseJSON.httpStatus,
                                            content: e.responseJSON.message,
                                            type: 'red',
                                            typeAnimated: true
                                        });
                                    }
                                },
                                complete: function() {
                                    $('#form-change-password').unblock();
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });
        });
    </script>
</body>

</html>