<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <title>APVMS | STORE</title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-primary"><a th:href="@{/store}"><i
                                            class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#">Brands</a></li>
                            </ol>
                        </nav>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-9">
                                                <h4><i class="far fa-registered"></i> Brands</h4>
                                            </div>
                                            <div class="col-3">
                                                <button type="button" data-target="#modalBrand" data-toggle="modal" class="btn btn-primary float-right" data-brand-id="0">New Brand</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12" id="div-brand-list">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <!-- Modal Brand-->
    <div class="modal fade" id="modalBrand" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="far fa-registered"></i> Add/Edit Brand</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-brand">
                        <div><input type="hidden" class="form-control" name="id"></div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Brand Name</label>
                            <input type="text" class="form-control" name="brandName">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Status</label>
                            <select class="form-control" name="status">
                                <option value="ACTIVE">ACTIVE</option>
                                <option value="INACTIVE">INACTIVE</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#form-brand').submit();">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        $(function() {
            // SIDEBAR LINK ACTIVE
            $('#side-link-brand').addClass('list-group-item-secondary');

            //GET ITEMS
            getBrandList();

            // NEW ITEM
            $(document).on("submit", "#form-brand", function(e) {
                e.preventDefault();
                $('.error-message').remove();
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you submit the form ?',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.ajax({
                                type: "POST",
                                url: contextPath + "store/brand/add",
                                timeout: 600000,
                                beforeSend: function() {
                                    $('body').block({
                                        message: '<h3>Processing...</h3>',
                                        css: {
                                            border: '3px solid darkgrey'
                                        }
                                    });
                                },
                                data: $("#form-brand").serialize(),
                                success: function(response) {
                                    $('#form-brand').trigger('reset');
                                    $.alert({
                                        title: 'Success!',
                                        content: "Brand Saved Successfully",
                                        type: 'green',
                                        typeAnimated: true
                                    });
                                    getBrandList();
                                    $('#modalBrand').modal('hide');
                                },
                                error: function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e
                                        .responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key,
                                            value) {
                                            $("#form-brand").contents().find(
                                                '[name=' + key + ']').after(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                            $('#' + key).html(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                        });
                                    } else {
                                        $.alert({
                                            title: e.responseJSON.httpStatus,
                                            content: e.responseJSON.message,
                                            type: 'red',
                                            typeAnimated: true
                                        });
                                    }
                                },
                                complete: function() {
                                    $('body').unblock();
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });

            //DELETE ITEM
            $(document).on('click', '.delete-brand', function(e) {
                e.preventDefault();
                var ajax_return;
                let brandId = e.target.dataset.brandId;
                $.confirm({
                    title: 'Warning!',
                    content: "Are you sure you want to delete the brand?",
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.confirm({
                                content: function() {
                                    var self = this;
                                    return ajax_return = $.ajax({
                                        type: "DELETE",
                                        url: contextPath + "store/brand/delete/" + brandId
                                    }).done(function(response) {
                                        self.setTitle("Success!");
                                        self.setType("green");
                                        self.setContent(response.message);
                                    }).fail(function(e) {
                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("ERROR");
                                    })
                                    return true;
                                },
                                buttons: {
                                    ok: function() {
                                        ajax_return.done(function(message) {
                                            getBrandList();
                                        })
                                    }
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });


            //ON MODAL SHOW
            $(document).on('show.bs.modal', '#modalBrand', function(e) {
                let brandId = e.relatedTarget.dataset.brandId;
                if (brandId == 0) {
                    $("#form-brand").contents().find('[name=id]').val("");
                    $("#form-brand").contents().find('[name=brandName]').val("");
                    $("#form-brand").contents().find('[name=status]').val("ACTIVE");
                } else {
                    $("#form-brand").contents().find('[name=id]').val(e.relatedTarget.dataset.brandId);
                    $("#form-brand").contents().find('[name=brandName]').val(e.relatedTarget.dataset.brandName);
                    $("#form-brand").contents().find('[name=status]').val(e.relatedTarget.dataset.status);
                }
            });
        });
    </script>
    <script>
        // GET ITEM LIST
        function getBrandList() {
            $.ajax({
                type: "GET",
                url: contextPath + "store/brand/all",
                timeout: 600000,
                beforeSend: function() {
                    $('body').block({
                        message: '<h3>Please wait...</h3>',
                        css: {
                            border: '3px solid darkgrey'
                        }
                    });
                },
                success: function(response) {
                    var content = `
                        <table id="table-brands" class="table table-striped jambo_table text-black" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>SL No.</th>
                                    <th>Brand Name</th>
                                    <th>Status</th>
                                    <th >Action</th>
                                    <th ></th>
                                </tr>
                            </thead>
                        </table>`;
                    $('#div-brand-list').html(content);
                    var tableBrands = $('#table-brands').DataTable({
                        "columnDefs": [{
                            "className": "text-center",
                            "targets": [0, 1, 2, 3]
                        }]
                    });

                    $.each(response.payload, function(key, brand) {
                        tableBrands.row.add([
                            `<b>${key + 1}</b>`,
                            `${brand.brandName}`,
                            `${brand.status}`,
                            `<a class="btn btn-primary p-1" href="#modalBrand" data-toggle="modal" data-brand-id="${brand.id}" data-brand-name="${brand.brandName}" data-status="${brand.status}">EDIT</a>`,
                            `<a class="btn btn-danger p-1 delete-brand" data-brand-id="${brand.id}" href="javascript:void(0)">DELETE</a>`
                        ]).draw(false);
                    });
                },
                error: function(e) {
                    console.log(e);
                },
                complete: function() {
                    $('body').unblock();
                }
            });
        }
    </script>
</body>

</html>