<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links('STORE')"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!-- <title>APVMS | STORE</title> -->
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-car fa-3x"></i> </h5>
                                    </div>
                                    <div class="card-header"><a th:href="@{/store/vehicle}"
                                            class="list-group-item list-group-item-action"> Vehicle Search</a></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-box-open fa-3x"></i> </h5>
                                    </div>
                                    <div class="card-header"><a th:href="@{/store/inventory}"
                                            class="list-group-item list-group-item-action"> Vehicle Inventory</a></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-user fa-3x"></i> </h5>
                                    </div>
                                    <div class="card-header"><a th:href="@{/store/vendor}"
                                            class="list-group-item list-group-item-action"> Vendors</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-credit-card fa-3x"></i> </h5>
                                    </div>
                                    <div class="card-header"><a th:href="@{/store/job-card}"
                                            class="list-group-item list-group-item-action"> Job Card</a></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-wrench fa-3x"></i> </h5>
                                    </div>
                                    <div class="card-header"><a th:href="@{/store/old-car-parts}"
                                            class="list-group-item list-group-item-action"> Old/replace Car Parts</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-cubes fa-3x"></i> </h5>
                                    </div>
                                    <div class="card-header"><a th:href="@{/store/item}"
                                            class="list-group-item list-group-item-action"> Items</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card bg-light mb-3 text-center" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title"><i class="fas fa-registered fa-3x"></i> </h5>
                                    </div>
                                    <div class="card-header"><a th:href="@{/store/brand}"
                                            class="list-group-item list-group-item-action"> Brands</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-car"></i> Vehicle Search
                                <span class="float-right">Total Vehicles Registered : 109</span>
                            </div>
                            <div class="card-body">
                                <ol>
                                    <li>Vehicle Search</li>
                                    <li>New Vehicle Entry</li>
                                    <li>Assign Inventory</li>
                                    <li>Remove Inventory</li>
                                </ol>
                                <a th:href="@{/store/vehicle}" class="btn btn-primary">Enter Vehicle Section</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-box-open"></i> Inventory</a>
                                <span class="float-right">Total Items : 57</span>
                            </div>
                            <div class="card-body">
                                <ol>
                                    <li>Inventory Search</li>
                                    <li>Add Items to Inventory</li>
                                </ol>
                                <a th:href="@{/store/inventory}" class="btn btn-primary">Enter Inventory</a>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>

    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script>
        $(function () {
            $('#side-link-dashboard').addClass('list-group-item-secondary');
        });
    </script>
</body>

</html>