<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <title>APVMS | STORE</title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-primary"><a th:href="@{/store}"><i
                                            class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="#">Item</a></li>
                            </ol>
                        </nav>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-9">
                                                <h4><i class="fas fa-cubes"></i> Items</h4>
                                            </div>
                                            <div class="col-3">
                                                <button type="button" data-target="#modalItem" data-toggle="modal" class="btn btn-primary float-right" data-item-id="0">New Item</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12" id="div-item-list">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <!-- Modal Item-->
    <div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-cubes"></i> Item Add/Edit Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-item">
                        <div><input type="hidden" class="form-control" name="id"></div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Item Name</label>
                            <input type="text" class="form-control" name="itemName">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Item Details</label>
                            <textarea type="text" class="form-control" name="itemDetails"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Category</label>
                            <select class="form-control" name="itemCategory">
                                <option value="">---Please Select---</option>
                                <th:block th:if="${not #lists.isEmpty(categoryList)}">
                                    <option th:each="x:${categoryList}" th:text="${x.name}" th:value="${x.name}">Consumable</option>
                                </th:block>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Unit</label>
                            <select class="form-control" name="itemUnit">
                                <option value="">---Please Select---</option>
                                <th:block th:if="${not #lists.isEmpty(unitList)}">
                                    <option th:each="x:${unitList}" th:text="${x.name}" th:value="${x.name}">Consumable</option>
                                </th:block>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#form-item').submit();">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

    <script>
        $(function() {
            // SIDEBAR LINK ACTIVE
            $('#side-link-item').addClass('list-group-item-secondary');

            //GET ITEMS
            getItemList();

            // NEW ITEM
            $(document).on("submit", "#form-item", function(e) {
                e.preventDefault();
                $('.error-message').remove();
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you submit the form ?',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.ajax({
                                type: "POST",
                                url: contextPath + "store/item/add",
                                timeout: 600000,
                                beforeSend: function() {
                                    $('body').block({
                                        message: '<h3>Processing...</h3>',
                                        css: {
                                            border: '3px solid darkgrey'
                                        }
                                    });
                                },
                                data: $("#form-item").serialize(),
                                success: function(response) {
                                    $('#form-item').trigger('reset');
                                    $.alert({
                                        title: 'Success!',
                                        content: "Item Saved Successfully",
                                        type: 'green',
                                        typeAnimated: true
                                    });
                                    getItemList();
                                    $('#modalItem').modal('hide');
                                },
                                error: function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e
                                        .responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key,
                                            value) {
                                            $("#form-item").contents().find(
                                                '[name=' + key + ']').after(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                            $('#' + key).html(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                        });
                                    } else {
                                        $.alert({
                                            title: e.responseJSON.httpStatus,
                                            content: e.responseJSON.message,
                                            type: 'red',
                                            typeAnimated: true
                                        });
                                    }
                                },
                                complete: function() {
                                    $('body').unblock();
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });

            //DELETE ITEM
            $(document).on('click', '.delete-item', function(e) {
                e.preventDefault();
                var ajax_return;
                let itemId = e.target.dataset.itemId;
                $.confirm({
                    title: 'Warning!',
                    content: "Are you sure you want to delete the item?",
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.confirm({
                                content: function() {
                                    var self = this;
                                    return ajax_return = $.ajax({
                                        type: "DELETE",
                                        url: contextPath + "store/item/delete/" + itemId
                                    }).done(function(response) {
                                        self.setTitle("Success!");
                                        self.setType("green");
                                        self.setContent(response.message);
                                    }).fail(function(e) {
                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("ERROR");
                                    })
                                    return true;
                                },
                                buttons: {
                                    ok: function() {
                                        ajax_return.done(function(message) {
                                            getItemList();
                                        })
                                    }
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });


            //ON MODAL SHOW
            $(document).on('show.bs.modal', '#modalItem', function(e) {
                let itemId = e.relatedTarget.dataset.itemId;
                if (itemId == 0) {
                    $("#form-item").contents().find('[name=id]').val("");
                    $("#form-item").contents().find('[name=itemName]').val("");
                    $("#form-item").contents().find('[name=itemDetails]').val("");
                    $("#form-item").contents().find('[name=itemCategory]').val("");
                    $("#form-item").contents().find('[name=itemUnit]').val("");
                } else {
                    $("#form-item").contents().find('[name=id]').val(e.relatedTarget.dataset.itemId);
                    $("#form-item").contents().find('[name=itemName]').val(e.relatedTarget.dataset.itemName);
                    $("#form-item").contents().find('[name=itemDetails]').val(e.relatedTarget.dataset.itemDetails);
                    $("#form-item").contents().find('[name=itemCategory]').val(e.relatedTarget.dataset.itemCategory);
                    $("#form-item").contents().find('[name=itemUnit]').val(e.relatedTarget.dataset.itemUnit);
                }
            });
        });
    </script>
    <script>
        // GET ITEM LIST
        function getItemList() {
            $.ajax({
                type: "GET",
                url: contextPath + "store/item/all",
                timeout: 600000,
                beforeSend: function() {
                    $('body').block({
                        message: '<h3>Please wait...</h3>',
                        css: {
                            border: '3px solid darkgrey'
                        }
                    });
                },
                success: function(response) {
                    var content = `
                        <table id="table-items" class="table table-striped jambo_table text-black" style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>SL No.</th>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                    <th>Unit</th>
                                    <th >View Details</th>
                                    <th >Edit</th>
                                    <th >Delete</th>
                                </tr>
                            </thead>
                        </table>`;
                    $('#div-item-list').html(content);
                    var tableItems = $('#table-items').DataTable({
                        "columnDefs": [{
                            "className": "text-center",
                            "targets": [0, 1, 2, 3]
                        }]
                    });

                    $.each(response.payload, function(key, item) {
                        tableItems.row.add([
                            `<b>${key + 1}</b>`,
                            `${item.itemName}`,
                            `${item.itemCategory}`,
                            `${item.itemUnit}`,
                            `<a class="btn btn-primary p-1" href="${contextPath}store/item/${item.id}">VIEW DETAILS</a>`,
                            `<a class="btn btn-primary p-1" href="#modalItem" data-toggle="modal" data-item-id="${item.id}" data-item-name="${item.itemName}" data-item-details="${item.itemDetails}" data-item-category="${item.itemCategory}" data-item-unit="${item.itemUnit}" >EDIT</a>`,
                            `<a class="btn btn-primary p-1 delete-item" data-item-id="${item.id}" href="javascript:void(0)">DELETE</a>`
                        ]).draw(false);
                    });
                },
                error: function(e) {
                    console.log(e);
                },
                complete: function() {
                    $('body').unblock();
                }
            });
        }
    </script>
</body>

</html>