<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links('STORE')"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- <title>APVMS | STORE</title> -->
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-primary"><a th:href="@{/store}"><i
                                            class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                <li class="breadcrumb-item">
                                    Job Card
                                </li>
                            </ol>
                        </nav>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-3">
                                                <h2><i class="fas fa-credit-card"></i> Job Card</h2>
                                            </div>
                                            <div class="col-1">

                                            </div>
                                            <div class="col-8">
                                                <form method="GET" th:ction="@{/store/job-card}">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="">From</span>
                                                        </div>
                                                        <input type="text" class="form-control datepicker"
                                                            name="fromDate" th:value="${#dates.format(dateFrom, 'dd-MM-yyyy')}">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text " id="">To</span>
                                                        </div>
                                                        <input type="text" class="form-control datepicker" name="toDate" th:value="${#dates.format(dateTo, 'dd-MM-yyyy')}">
                                                        <div class="input-group-prepend">
                                                            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i> Search</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row" th:if="${not #lists.isEmpty(jobCards)}">
                                                    <div class="col-md-12">
                                                        <table class="table table-bordered table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">#</th>
                                                                    <th scope="col">JOB CARD ID</th>
                                                                    <th scope="col">VEHICLE</th>
                                                                    <th scope="col">STATUS</th>
                                                                    <th scope="col">OPENED ON</th>
                                                                    <th scope="col">CLOSED ON</th>
                                                                    <th scope="col">ACTION</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr th:each="x,iterator :${jobCards}">
                                                                    <th scope="row" th:text="${iterator.count}">1</th>
                                                                    <td th:text="${x.id}"></td>
                                                                    <td th:text="${x.masterVehicle.vehicleRegistrationNo}"></td>
                                                                    <td>
                                                                        <span class="badge badge-success" th:if="${x.status == 'CREATED'}" th:text="${x.status}"></span>
                                                                        <span class="badge badge-success" th:if="${x.status == 'FORWARDED'}" th:text="${x.status}"></span>
                                                                        <span class="badge badge-success" th:if="${x.status == 'APPROVED'}" th:text="${x.status}"></span>
                                                                        <span class="badge badge-secondary" th:if="${x.status == 'CLOSED'}" th:text="${x.status}"></span>
                                                                    </td>
                                                                    <td><span th:text="${#dates.format(x.openedDate, 'dd-MMM-yyyy HH:mm a')}"></span></td>
                                                                    <td>
                                                                        <span th:if="${x.status == 'CLOSED'}" th:text="${#dates.format(x.closedDate, 'dd-MMM-yyyy HH:mm a')}"></span>
                                                                        <span th:if="${x.status != 'CLOSED'}">-</span>
                                                                    </td>
                                                                    <td><a class="btn btn-primary p-1" th:href="@{/store/vehicle/job-card/__${x.id}__}">VIEW JOB CARD</a></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>

    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>

    <script>
        $(function () {
            $('#side-link-view-job-card').addClass('list-group-item-secondary');

            $(".datepicker").datepicker({
                dateFormat: 'dd-mm-yy'
            });
        });
    </script>
</body>

</html>