<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <title>APVMS | STORE</title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-primary"><a th:href="@{/store}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/store/vehicle}">Vehicle</a></li>
                                <li class="breadcrumb-item text-success" th:if="${masterVehicle != null}" th:text="${masterVehicle.vehicleRegistrationNo}"></li>
                                <li class="breadcrumb-item">
                                    OPEN JOB CARD
                                </li>
                            </ol>
                        </nav>
                        <div class="row" th:if="${masterVehicle != null}">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-3">
                                                <h4><i class="fas fa-credit-card"></i> Open Job Card</h4>
                                            </div>
                                            <div class="col-3">
                                                <h4><span class="badge badge-success p-2">Regn. No : <span th:text="${masterVehicle.vehicleRegistrationNo}"></span></span>
                                                </h4>
                                            </div>
                                            <div class="col-3">
                                                <a class="btn btn-primary p-2 float-right" th:href="@{/store/vehicle/__${masterVehicle.id}__}">VIEW VEHICLE</a>
                                            </div>
                                            <div class="col-3">
                                                <a class="btn btn-primary p-2 float-right" href="javascript:void(0)" id="btn-open-job-card">OPEN JOB CARD</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-bordered table-sm" id="table-items">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col">Item Name</th>
                                                            <th scope="col">Quantity</th>
                                                            <th scope="col">Action</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">
                                                                <select class="form-control js-data-example-ajax w-100" id="selectItem">
                                                                </select>
                                                            </th>
                                                            <th scope="col">
                                                                <div class="input-group ">
                                                                    <input type="number" class="form-control" placeholder="Quantity" id="quantity" onkeyup="checkQuantity(this);" value="0" min="1">
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text" id="basic-addon2">piece</span>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th scope="col"><a class="btn btn-primary p-1" href="#" id="btnAddItem">ADD ITEM</a></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbody-item">

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <!-- Modal Item-->
    <div class="modal fade" id="modalItem" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-box-open"></i> Assign Items from Inventory</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Item (<span class="text-success">26 Available</span>)</label>
                            <select class="form-control">
                                <option value="">---Please Select---</option>
                                <option value="Lathi">Lathi</option>
                                <option value="Siren">Siren</option>
                                <option value="Diesel">Diesel</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Quantity</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Assign</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script th:inline="javascript">
        var vehicleId = /*[[${masterVehicle.id}]]*/ '';

        $(function() {
            $('#side-link-vehicle').addClass('list-group-item-secondary');

            $('.js-data-example-ajax').select2({
                ajax: {
                    url: contextPath + "store/get-search-vendor-item",
                    dataType: 'json',
                    data: function(params) {
                        return {
                            searchText: params.term
                        };
                    },
                    processResults: function(response, params) {
                        var data = $.map(response.payload.objectList1, function(org) {
                            org.id = org.id;
                            org.text = org.itemName;
                            return org;
                        });
                        return {
                            results: data,
                        };
                    },
                    cache: true
                },
                placeholder: 'Search item',
                minimumInputLength: 3
            });

            // ADD ITEM
            $(document).on("click", "#btnAddItem", function(e) {
                let rowCount = $('#table-items tbody tr').length;
                const quantity = $('#quantity').val();
                let selectedItem = $('#selectItem').select2('data')
                $('#table-items tbody').append(
                    `<tr id="item-${rowCount + 1}">
                        <td>${selectedItem[0].text}
                            <span><input type="hidden" value="${selectedItem[0].id}" class="input-item-id"></span>
                        </td>
                        <td>${quantity} piece
                            <span><input type="hidden" value="${quantity}" class="input-item-quantity"></span>
                        </td>
                        <td><a class="btn btn-danger p-1 remove-item" href="javascript:void(0);" data-row-id="${rowCount + 1}">REMOVE</a></td>
                    </tr>`
                );
            });

            // REMOVE ITEM
            $(document).on("click", ".remove-item", function(e) {
                let rowId = e.target.dataset.rowId;
                $(`#table-items tbody #item-${rowId}`).remove();
            });


            // OPEN JOB CARD
            $(document).on("click", "#btn-open-job-card", function(e) {
                e.preventDefault();
                $('.error-message').remove();
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to open the job card?',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.ajax({
                                type: "POST",
                                url: contextPath + "store/vehicle/job-card/open",
                                timeout: 600000,
                                beforeSend: function() {
                                    $('body').block({
                                        message: '<h3>Processing...</h3>',
                                        css: {
                                            border: '3px solid darkgrey'
                                        }
                                    });
                                },
                                data: {
                                    "masterVehicle.id": vehicleId
                                },
                                success: function(response) {
                                    $.confirm({
                                        title: 'Success!',
                                        content: "Job Card Opened Successfully",
                                        type: 'green',
                                        typeAnimated: true,
                                        buttons: {
                                            ok: function() {
                                                window.location.replace(contextPath + "store/vehicle/job-card/" + response.payload);
                                            }
                                        }
                                    });
                                },
                                error: function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e
                                        .responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key,
                                            value) {
                                            $("#form-job-card").contents().find(
                                                '[name=' + key + ']').after(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                            $('#' + key).html(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                        });
                                    } else {
                                        $.alert({
                                            title: e.responseJSON.httpStatus,
                                            content: e.responseJSON.message,
                                            type: 'red',
                                            typeAnimated: true
                                        });
                                    }
                                },
                                complete: function() {
                                    $('body').unblock();
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });


        });

        function checkQuantity(el) {
            var ex = /^[0-9]+\.?[0-9]*$/;
            if (ex.test(el.value) == false) {
                el.value = el.value.substring(0, el.value.length - 1);
            }

            if ('' === el.value.trim()) {
                el.value = 0.00;
            }
        }
    </script>
</body>

</html>