<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links('STORE')"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <!-- <title>APVMS | STORE</title> -->
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-old-car-parts text-primary"><a th:href="@{/store}"><i
                                            class="fas fa-tachometer-alt"></i> Dashboard / </a></li>
                                <li class="breadcrumb-old-car-parts"><a href="#">Old/Damage Car Parts</a> /</li>
                                <li class="breadcrumb-item text-success">
                                    Rack ID - <span th:text="${rack.id}"></span>
                                </li>
                            </ol>
                        </nav>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-6">
                                                <h4><i class="fas fa-car"></i> Rack Details</h4>
                                            </div>
                                            <div class="col-6 text-right">
                                                <h4><span class="badge badge-success p-2">
                                                        ID - <span th:text="${rack.id}"></span></span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <h5 class="card-title">Rack Name</h5>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title">: <th:block th:text="${rack.rackName}">
                                                    </th:block>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <h5 class="card-title">Rack Details</h5>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title">: <th:block th:text="${rack.rackDetails}">
                                                    </th:block>
                                                </h5>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" id="home-tab" data-toggle="tab"
                                                            href="#home" role="tab" aria-controls="home"
                                                            aria-selected="true">Rack Shelves</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade show active p-3" id="home" role="tabpanel"
                                                        aria-labelledby="home-tab">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <h5 class="card-title">List of Shelves</h5>
                                                            </div>
                                                            <div class="col-4">
                                                                <h5 class="card-title"> </h5>
                                                            </div>
                                                            <div class="col-4">
                                                                <a class="btn btn-primary p-1 float-right" href="#"
                                                                    data-target="#modalShelves" data-toggle="modal">Add
                                                                    New Shelves</a>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12" id="div-shelves-list">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <!-- Modal Shelves-->
    <div class="modal fade" id="modalShelves" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-box-open"></i> Add new Shelves for
                        Rack ID - <span th:text="${rack.id}"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-shelves">
                        <input type="hidden" class="form-control" id="masterRack.id" name="masterRack.id"
                            th:value="${rack.id}">
                        <div><input type="hidden" class="form-control" name="id"></div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Shelves Name</label>
                            <input type="text" class="form-control" id="shelveName" name="shelveName">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Shelves Details</label>
                            <input type="text" class="form-control" id="shelveDetails" name="shelveDetails">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="$('#form-shelves').submit();">Save</button>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var rackId = /*[[${rack.id}]]*/ '0';
         /*]]>*/
    </script>
    <script>
        $(function () {
            $('#side-link-old-car-parts').addClass('list-group-item-secondary');
            getShelvesList();
            $(document).on("submit", "#form-shelves", function (e) {
                e.preventDefault();
                // alert($("#form-item").serialize());
                $('.error-message').remove();
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you submit the form ?',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        confirm: function () {
                            $.ajax({
                                type: "POST",
                                url: contextPath + "store/rack/addShelves",
                                timeout: 600000,
                                beforeSend: function () {
                                    $('body').block({
                                        message: '<h3>Processing...</h3>',
                                        css: {
                                            border: '3px solid darkgrey'
                                        }
                                    });
                                },
                                data: $("#form-shelves").serialize(),
                                success: function (response) {
                                    $('#form-shelves').trigger('reset');
                                    $.alert({
                                        title: 'Success!',
                                        content: "Shelve Saved Successfully",
                                        type: 'green',
                                        typeAnimated: true
                                    });
                                    getShelvesList();
                                    $('#modalShelves').modal('hide');
                                },
                                error: function (e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e
                                        .responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function (key,
                                            value) {
                                            $("#form-shelves").contents().find(
                                                '[name=' + key + ']').after(
                                                    '<span class="error-message">' +
                                                    value + '</span>');
                                            // $('#' + key).html(
                                            //     '<span class="error-message">' +
                                            //     value + '</span>');
                                        });
                                    } else {
                                        $.alert({
                                            title: e.responseJSON.httpStatus,
                                            content: e.responseJSON.message,
                                            type: 'red',
                                            typeAnimated: true
                                        });
                                    }
                                },
                                complete: function () {
                                    $('body').unblock();
                                }
                            });
                        },
                        cancel: function () { }
                    }
                });
            });

            //DELETE ITEM
            $(document).on('click', '.delete-shelve', function (e) {
                e.preventDefault();
                var ajax_return;
                let shelveId = e.target.dataset.shelveId;
                $.confirm({
                    title: 'Warning!',
                    content: "Are you sure you want to delete this Shelve?",
                    type: 'red',
                    typeAnimated: true,
                    buttons: {
                        confirm: function () {
                            $.confirm({
                                content: function () {
                                    var self = this;
                                    return ajax_return = $.ajax({
                                        type: "DELETE",
                                        url: contextPath + "store/rack/deleteShelves/" + shelveId
                                    }).done(function (response) {
                                        self.setTitle("Success!");
                                        self.setType("green");
                                        self.setContent(response.message);
                                    }).fail(function (e) {
                                        self.setTitle(e.responseJSON.httpStatus);
                                        self.setType("red");
                                        self.setContent("ERROR");
                                    })
                                    return true;
                                },
                                buttons: {
                                    ok: function () {
                                        ajax_return.done(function (message) {
                                            getShelvesList();
                                        })
                                    }
                                }
                            });
                        },
                        cancel: function () { }
                    }
                });
            });
        });

        // ON MODAL SHOW
        $(document).on('show.bs.modal', '#modalShelves', function (e) {
            let shelveId = e.relatedTarget.dataset.shelveId;
            if (shelveId == 0) {
                $("#form-shelves").contents().find('[name=id]').val("");
            } else {
                $("#form-shelves").contents().find('[name=id]').val(e.relatedTarget.dataset.shelveId);
                $("#form-shelves").contents().find('[name=shelveName]').val(e.relatedTarget.dataset.shelveName);
                $("#form-shelves").contents().find('[name=shelveDetails]').val(e.relatedTarget.dataset.shelveDetails);
            }
        });
    </script>
    <script>
        // GET SHELVES LIST
        function getShelvesList() {
            $.ajax({
                type: "GET",
                url: contextPath + "store/rack/allShelves/" + rackId,
                timeout: 600000,
                beforeSend: function () {
                    $('body').block({
                        message: '<h3>Please wait...</h3>',
                        css: {
                            border: '3px solid darkgrey'
                        }
                    });
                },
                success: function (response) {
                    var content = `
                        <table id="table-shelves" class="display table ">
                            <thead class="text-center">
                                <tr>
                                    <th>SL No.</th>
                                    <th>Shelve Name</th>
                                    <th>Shelve Details</th>
                                    <th>Total Items</th>
                                    <th>Action</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>`;
                    $('#div-shelves-list').html(content);
                    var tableShelves = $('#table-shelves').DataTable({
                        "columnDefs": [{
                            "className": "text-center",
                            "targets": [0, 1, 2, 3]
                        }]
                    });
                    $.each(response.payload, function (key, shelve) {
                        tableShelves.row.add([
                            `<b>${key + 1}</b>`,
                            `${shelve.shelveName}`,
                            `${shelve.shelveDetails}`,
                            `${shelve.totalItems}`,
                            `<a class="btn btn-primary p-1 view-shelve" href="${contextPath + "store/shelve/" + shelve.id}">VIEW</a>`,
                            `<a class="btn btn-danger p-1 delete-shelve" data-shelve-id="${shelve.id}" href="javascript:void(0)">DELETE</a>`,
                            `<a class="btn btn-primary p-1" href="#modalShelves" data-toggle="modal" data-shelve-id="${shelve.id}" data-shelve-name="${shelve.shelveName}" data-shelve-details="${shelve.shelveDetails}">EDIT</a>`
                        ]).draw(false);
                    });
                },
                error: function (e) {
                    console.log(e);
                },
                complete: function () {
                    $('body').unblock();
                }
            });
        }
    </script>
</body>

</html>