<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <title>APVMS | STORE</title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-primary"><a th:href="@{/store}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/store/vehicle}">Vehicle</a></li>
                                <li class="breadcrumb-item text-success" th:if="${transVehicleJobCard != null}" th:text="${transVehicleJobCard.masterVehicle.vehicleRegistrationNo}">

                                </li>
                                <li class="breadcrumb-item">
                                    VIEW JOB CARD
                                </li>
                            </ol>
                        </nav>
                        <div class="row" th:if="${transVehicleJobCard != null}">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-3">
                                                <h4><i class="fas fa-credit-card"></i> View Job Card</h4>
                                            </div>
                                            <div class="col-3">
                                                <h4><span class="badge badge-success p-2" th:text="${transVehicleJobCard.masterVehicle.vehicleRegistrationNo}"></span></h4>
                                            </div>
                                            <div class="col-3">
                                                <a class="btn btn-primary p-2 float-right" th:href="@{/store/vehicle/__${transVehicleJobCard.masterVehicle.id}__}">VIEW VEHICLE</a>
                                            </div>
                                            <div class="col-3">
                                                <a class="btn btn-primary p-2 float-right" th:if="${transVehicleJobCard.status == 'CREATED'}" href="#modalForward" data-toggle="modal">FORWARD JOB CARD</a>
                                                <a class="btn btn-warning p-2 float-right" th:if="${transVehicleJobCard.status == 'APPROVED'}" th:href="@{/store/vehicle/job-card/__${transVehicleJobCard.id}__/vendor-order}">GENERATE VENDOR ORDER</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="row">
                                                    <div class="col-5">
                                                        <h5 class="card-title">Job Card Id</h5>
                                                    </div>
                                                    <div class="col-7">
                                                        <h5 class="card-title"> : <span th:text="${'#'+transVehicleJobCard.id}"></span></h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <h5 class="card-title">Status</h5>
                                                    </div>
                                                    <div class="col-7">
                                                        <h5 class="card-title"> : <span class="badge badge-success" th:text="${transVehicleJobCard.status}"></span></h5>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-5">
                                                        <h5 class="card-title">Opened On</h5>
                                                    </div>
                                                    <div class="col-7">
                                                        <h5 class="card-title"> : <span th:text="${#dates.format(transVehicleJobCard.createdAt, 'dd-MMM-yyyy hh:mm a')}"></span></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6" th:if="${transVehicleJobCard.status == 'FORWARDED' || transVehicleJobCard.status == 'APPROVED' || transVehicleJobCard.status == 'CLOSED'}">
                                                <th:block th:if="${not #lists.isEmpty(transVehicleJobCard.forwards)}">
                                                    <table class="table table-sm table-striped table-bordered">
                                                        <thead class="text-center">
                                                            <tr>
                                                                <th colspan="3">FORWARD DETAILS</th>
                                                            </tr>
                                                            <tr>
                                                                <th>FORWARDED TO</th>
                                                                <th>DATE</th>
                                                                <th>CURRENT</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="text-center">
                                                            <tr th:each="x,iter : ${transVehicleJobCard.forwards}">
                                                                <td th:text="${x.forwardedTo.name}"></td>
                                                                <td th:text="${#dates.format(x.createdAt, 'dd-MMM-yyyy hh:mm a')}"></td>
                                                                <td th:if="${x.isCurrent}">YES</td>
                                                                <td th:if="${not x.isCurrent}">NO</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </th:block>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row mt-2">
                                            <div class="col-12" id="div-job-card-items">

                                            </div>
                                        </div>
                                        <div class="row mt-2">
                                            <div class="col-12 text-right" id="div-total">

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <!-- Modal Item-->
    <div class="modal fade" id="modalForward" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:if="${transVehicleJobCard.status == 'CREATED'}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-credit-card"></i> Forward Job Card</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-forward-job-card">
                        <div><input type="hidden" name="transVehicleJobCard.id" th:value="${transVehicleJobCard.id}"></div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Whom To forward</label>
                            <select class="form-control" name="forwardedTo.id" required>
                                <option value="">---Please Select---</option>
                                <th:block th:if="${not #lists.isEmpty(userList)}">
                                    <option th:each="x,iter : ${userList}" th:value="${x.id}" th:text="${x.name+' ('+x.roles[0].role+') '}"></option>
                                </th:block>
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Forward</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script th:inline="javascript">
        var jobCardId = /*[[${transVehicleJobCard.id}]]*/ '';
    </script>
    <script>
        $(function() {
            $('#side-link-vehicle').addClass('list-group-item-secondary');



            // FORWARD JOB CARD
            $(document).on("submit", "#form-forward-job-card", function(e) {
                e.preventDefault();
                $('.error-message').remove();
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to forward the job card?',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.ajax({
                                type: "PUT",
                                url: contextPath + "store/vehicle/job-card/forward",
                                timeout: 600000,
                                beforeSend: function() {
                                    $('body').block({
                                        message: '<h3>Processing...</h3>',
                                        css: {
                                            border: '3px solid darkgrey'
                                        }
                                    });
                                },
                                data: $('#form-forward-job-card').serialize(),
                                success: function(response) {
                                    $.confirm({
                                        title: 'Success!',
                                        content: "Job Card Forwarded Successfully",
                                        type: 'green',
                                        typeAnimated: true,
                                        buttons: {
                                            ok: function() {
                                                location.reload();
                                            }
                                        }
                                    });
                                },
                                error: function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e
                                        .responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key,
                                            value) {
                                            $("#form-forward-job-card").contents().find(
                                                '[name=' + key + ']').after(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                        });
                                    } else {
                                        $.alert({
                                            title: e.responseJSON.httpStatus,
                                            content: e.responseJSON.message,
                                            type: 'red',
                                            typeAnimated: true
                                        });
                                    }
                                },
                                complete: function() {
                                    $('body').unblock();
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });

            // GET ITEM LIST
            function getJobCardItemList() {
                $.ajax({
                    type: "GET",
                    url: contextPath + "store/vehicle/job-card/get-all-items/" + jobCardId,
                    timeout: 600000,
                    beforeSend: function() {
                        $('body').block({
                            message: '<h3>Please wait...</h3>',
                            css: {
                                border: '3px solid darkgrey'
                            }
                        });
                    },
                    success: function(response) {
                        var content = `
                        <table id="table-job-card-items" class="table table-bordered" style="width:100%">
                            <thead class="text-center text-uppercase">
                                <tr>
                                    <th>SL No.</th>
                                    <th>Item</th>
                                    <th>Brand</th>
                                    <th>Vendor</th>
                                    <th>Quantity</th>
                                    <th>Price/Unit (in Rs)</th>
                                    <th>Total (in Rs)</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>`;
                        $('#div-job-card-items').html(content);


                        let total = 0;
                        $.each(response.payload, function(key, item) {
                            $('#table-job-card-items').append(`
                                <tr>
                                    <th>${key + 1}</th>
                                    <th>${item.itemName}</th>
                                    <th>${item.brandName}</th>
                                    <th>${item.vendorName}</th>
                                    <th class="text-center">${item.quantity}</th>
                                    <th class="text-right">${item.pricePerUnit.toFixed(2)}</th>
                                    <th class="text-right">${(item.pricePerUnit * item.quantity).toFixed(2)}</th>
                                </tr>
                        `);
                            total += (item.pricePerUnit * item.quantity);
                        });

                        $('#div-total').html(`<b>TOTAL AMOUNT : Rs. ${total.toFixed(2)}</b>`);
                    },
                    error: function(e) {
                        console.log(e);
                    },
                    complete: function() {
                        $('body').unblock();
                    }
                });
            }

            getJobCardItemList();
        });
    </script>
</body>

</html>