<!DOCTYPE html>
<html lang="en">

<head>
    <th:block th:replace="fragments/logged_fragments :: logged-links"></th:block>
    <th:block th:replace="fragments/logged_fragments :: logged-css"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <title>APVMS | STORE</title>
</head>

<body>
    <th:block th:replace="fragments/logged_fragments :: logged-sidebar"></th:block>
    <main id="panel">
        <div id="panel-content">
            <th:block th:replace="fragments/logged_fragments :: logged-navbar"></th:block>
            <div class="container-fluid main-content">
                <div class="row">
                    <div class="col-md-3">
                        <th:block th:replace="fragments/logged_fragments :: logged-store-sidebar"></th:block>
                    </div>
                    <div class="col-md-9">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-primary"><a th:href="@{/store}"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                                <li class="breadcrumb-item"><a th:href="@{/store/vehicle}">Vehicle</a></li>
                                <li class="breadcrumb-item text-success" th:if="${transVehicleJobCard != null}" th:text="${transVehicleJobCard.masterVehicle.vehicleRegistrationNo}">

                                </li>
                                <li class="breadcrumb-item">
                                    VIEW JOB CARD
                                </li>
                            </ol>
                        </nav>
                        <div class="row" th:if="${transVehicleJobCard != null}">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="row">
                                            <div class="col-3">
                                                <h4><i class="fas fa-credit-card"></i> View Job Card</h4>
                                            </div>
                                            <div class="col-3">
                                                <h4><span class="badge badge-success p-2" th:text="${transVehicleJobCard.masterVehicle.vehicleRegistrationNo}"></span></h4>
                                            </div>
                                            <div class="col-3">
                                                <a class="btn btn-primary p-2 float-right" th:href="@{/store/vehicle/__${transVehicleJobCard.masterVehicle.id}__}">VIEW VEHICLE</a>
                                            </div>
                                            <div class="col-3">
                                                <a class="btn btn-primary p-2 float-right" th:if="${transVehicleJobCard.status == 'CREATED'}" href="#modalForward" data-toggle="modal">FORWARD JOB CARD</a>
                                                <a class="btn btn-warning p-2 float-right" th:if="${transVehicleJobCard.status == 'FORWARDED'}" href="#" data-toggle="modal">GENERATE VENDOR ORDER</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-3">
                                                <h5 class="card-title">Job Card Id</h5>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title"> : <span th:text="${'#'+transVehicleJobCard.id}"></span></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <h5 class="card-title">Status</h5>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title"> : <span class="badge badge-success" th:text="${transVehicleJobCard.status}"></span></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-3">
                                                <h5 class="card-title">Opened On</h5>
                                            </div>
                                            <div class="col-8">
                                                <h5 class="card-title"> : <span th:text="${#dates.format(transVehicleJobCard.createdAt, 'dd-MMM-yyyy HH:mm a')}"></span></h5>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-bordered table-sm">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col" colspan="3">ADDED ITEM LIST</th>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Item Name</th>
                                                            <th scope="col">Quantity</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">1</th>
                                                            <td>Wheel</td>
                                                            <td>3 piece</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">2</th>
                                                            <td>Window Pane</td>
                                                            <td>1 pair</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">3</th>
                                                            <td>Engine Oil</td>
                                                            <td>1 litre</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">4</th>
                                                            <td>Tyre</td>
                                                            <td>2 piece</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="fragments/logged_fragments :: logged-footer"></th:block>
        </div>
    </main>
    <!-- Modal Item-->
    <div class="modal fade" id="modalForward" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" th:if="${transVehicleJobCard.status == 'CREATED'}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-credit-card"></i> Forward Job Card</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form-forward-job-card">
                        <div><input type="hidden" name="jobCardId" th:value="${transVehicleJobCard.id}"></div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Select Whom To forward</label>
                            <select class="form-control js-data-example-ajax" name="username">
                            </select>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Forward</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="fragments/logged_fragments :: logged-js-scripts"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <script th:inline="javascript">
        var jobCardId = /*[[${transVehicleJobCard.id}]]*/ '';
    </script>
    <script>
        $(function() {
            $('#side-link-vehicle').addClass('list-group-item-secondary');

            $('.js-data-example-ajax').select2({
                ajax: {
                    url: contextPath + "store/vehicle/job-card/search-forward-user",
                    dataType: 'json',
                    data: function(params) {
                        return {
                            searchText: params.term
                        };
                    },
                    processResults: function(response, params) {
                        var data = $.map(response.payload.objectList1, function(org) {
                            org.id = org.username;
                            org.text = org.name;
                            return org;
                        });
                        return {
                            results: data,
                        };
                    },
                    cache: true
                },
                placeholder: 'Search item',
                minimumInputLength: 3
            });

            // FORWARD JOB CARD
            $(document).on("submit", "#form-forward-job-card", function(e) {
                e.preventDefault();
                $('.error-message').remove();
                $.confirm({
                    title: 'Confirm!',
                    content: 'Are you sure you want to open the job card?',
                    type: 'green',
                    typeAnimated: true,
                    buttons: {
                        confirm: function() {
                            $.ajax({
                                type: "PUT",
                                url: contextPath + "store/vehicle/job-card/forward",
                                timeout: 600000,
                                beforeSend: function() {
                                    $('body').block({
                                        message: '<h3>Processing...</h3>',
                                        css: {
                                            border: '3px solid darkgrey'
                                        }
                                    });
                                },
                                data: $('#form-forward-job-card').serialize(),
                                success: function(response) {
                                    $.confirm({
                                        title: 'Success!',
                                        content: "Job Card Forwarded Successfully",
                                        type: 'green',
                                        typeAnimated: true,
                                        buttons: {
                                            ok: function() {
                                                location.reload();
                                            }
                                        }
                                    });
                                },
                                error: function(e) {
                                    if (e.responseJSON.httpStatus === 'BAD_REQUEST' && e
                                        .responseJSON.errorMessages != null) {
                                        $.each(e.responseJSON.errorMessages, function(key,
                                            value) {
                                            $("#form-job-card").contents().find(
                                                '[name=' + key + ']').after(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                            $('#' + key).html(
                                                '<span class="error-message">' +
                                                value + '</span>');
                                        });
                                    } else {
                                        $.alert({
                                            title: e.responseJSON.httpStatus,
                                            content: e.responseJSON.message,
                                            type: 'red',
                                            typeAnimated: true
                                        });
                                    }
                                },
                                complete: function() {
                                    $('body').unblock();
                                }
                            });
                        },
                        cancel: function() {}
                    }
                });
            });

            $('#div-item-list').html(`
                        <table id="table-items" class="display table ">
                            <thead class="text-center">
                                <tr>
                                    <th>SL No.</th>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                    <th>Quantity In Store</th>
                                    <th >Action</th>
                                    <th ></th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <tr>
                                    <td>1</td>
                                    <td>Screw Driver</td>
                                    <td>Inventory</td>
                                    <td>25 piece</td>
                                    <td>
                                        <a class="btn btn-primary p-1 deleteItem" href="javascript:void(0)">DELETE</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary p-1" href="#modalItem" data-toggle="modal">EDIT</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>Stick</td>
                                    <td>Inventory</td>
                                    <td>100 piece</td>
                                    <td>
                                        <a class="btn btn-primary p-1 deleteItem" href="javascript:void(0)">DELETE</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-primary p-1" href="#modalItem" data-toggle="modal">EDIT</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>SL No.</th>
                                    <th>Item Name</th>
                                    <th>Category</th>
                                    <th>Quantity In Store</th>
                                    <th >Action</th>
                                    <th ></th>
                                </tr>
                            </tfoot>
                        </table>
            `);
        });
    </script>
</body>

</html>